.login-slider{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.login-slider__list{
	white-space: nowrap;
	height: inherit;
	width: inherit;
	transition: transform 1s ease;
	font-size: 0;
}

.login-slider__item{
	width: 100%;
	height: 100%;	
	display: block;	
	background-size: auto;
	background-position: center center;
	background-repeat: no-repeat;
}

.login-slider__item--1{
	background-image: url('../../../assets/img/pag-inicio/foto-1.jpg');
}

.login-slider__item--2{
	background-image: url('../../../assets/img/pag-inicio/foto-2.jpg');
}

.login-slider__item--3{
	background-image: url('../../../assets/img/pag-inicio/foto-3.jpg');
}

.login-slider__item--4{
	background-image: url('../../../assets/img/pag-inicio/foto-4.jpg');
}

.login-slider__item--5{
	background-image: url('../../../assets/img/pag-inicio/foto-5.jpg');
}

.login-slider__item--6{
	background-image: url('../../../assets/img/pag-inicio/foto-6.jpg');
}

.login-slider__item--7{
	background-image: url('../../../assets/img/pag-inicio/foto-7.jpg');
}

.login-slider__item--8{
	background-image: url('../../../assets/img/pag-inicio/foto-8.jpg');
}

.login-slider__item--9{
	background-image: url('../../../assets/img/pag-inicio/foto-9.jpg');
}

/*
.login-slider__image{
	object-fit: cover;
	width: 100%;
    height: 100%;
}*/