.login-slider{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.login-slider__list{
	white-space: nowrap;
	height: inherit;
	width: inherit;
	transition: transform 1s ease;
	font-size: 0;
	position: relative;
	z-index: 2;
}

.login-slider__desktop{
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(25px);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}

.login-slider__item{
	width: 100%;
	height: 100%;	
	display: block;	
	background-size: auto;
	background-position: center center;
	background-repeat: no-repeat;
}

/*
.login-slider__image{
	object-fit: cover;
	width: 100%;
    height: 100%;
}*/