.files-student{
	width: 1024px;	
	background: #fff;
	padding: 1.5rem;
	position: relative;
}

.files-student__close{
	right: 0;
	top: 0%;
	transform: translate(50%,-50%);
}

.files-student__title{
	margin: 0;
	margin-bottom: 1rem;
	font-size: 1.3em;
	font-weight: bold;
}

.data-table{
	max-height: 60vh;
    position: relative;
    overflow: auto;
}

.data-table__header{
	background: #fff;
	position: sticky;
    top: 0;
}

.data-table__body .data-table__col{
	padding: .7em 0;
}

.data-table__col--ultimaModificacion {
    flex: 0 0 140px !important;
}

.data-table__row{
	display: flex;
}

.data-table__col{
	flex: 1 0 0;
	display: flex;
    align-items: center;
    padding-left: 1rem !important;
}

.data-table__col--hidden-m{
	display: none;
}

.data-table__col--header{
	padding: .8em 0;
	font-weight: bold;
}

.data-table__col--w50{
	flex: 0 0 60px;
    max-width: 60px;
}

.data-table__col--save{
	justify-content: center;
}

.data-table__row-border{
	border-bottom: solid 1px rgba(0,0,0,.06);	
}

.data-table__icon{
    font-size: 21px;
    cursor: pointer;
}

.data-table__save{
    color: var(--blue-school);
}

.data-table__save:hover{
    color: var(--blue-school-alt);
}
.data-table__input{
	width: 100%;
}

.data-table__text{
	font-size: 12px;
}

.data-table__body .data-table__row:last-child{
	border: none;
}

.data-table__row--upload{
	background-color: rgba(155, 222, 148, 0.56);
}

@media screen and (min-width: 768px){
	.data-table__col--hidden-m{
		display: flex;
	}
}

@media screen and (min-width: 1024px){
	.data-table__row-body{
		transition: background-color 100ms;
		
	}
	
	.data-table__row-body:hover{
		background-color: #d01e1e14;
		font-weight: 600;
	}
}