.upload-student{
	background: #fff;
	width: 400px;
	position: relative;
	padding: 2rem 1rem;
}

.upload-student__title{
	margin: 0 0 1.5rem 0;	
}

.upload-student__body{
	padding: 1rem 2rem;
}

.upload-student__close{
	right: 0;
	top: 0%;
	transform: translate(50%,-50%);
}

.upload-student__group{
	margin-bottom: 2.2rem;
}

.upload-student__buttons{
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}

.updload-student-save{
	margin-right: 1rem;
}

.upload-btn{
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 1px #d5d5d5;
    position: relative;	
}

.upload-btn__button{
	width: 50px;
}

.upload-btn__button-name{
	margin-left: 1rem;
    user-select: none;
        margin-left: 1rem;
}